.formulario form {
    border-radius: 20px;
    background: #F6F6F6;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
    margin: 80px auto;
    padding:32px 96px;
    width: 60%;
}

.formulario h3 {
    color: #212121;
    font-size: 32px;
    font-weight: 400;
}

.formulario p {
    font-size: 14px;
    font-weight: 400;
}